body {
    background-color: rgb(0, 135, 0);
    font-size: 24px;
    color: maroon;
}

a {
    color: yellow;
}

span {
    color: rgb(0, 255, 0);
}

.dark-green-bold {
    color: rgb(0, 74, 0);
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.left-float {
    float: left;
    margin-right: 10px;
    width: 400px;
}

.right-float {
    float: right;
    margin-left: 10px;
    width: 400px;
}